<div>
  <div class="banner">
    <img
      alt="banner"
      class="banner-img"
      srcset="./img/banner-1024.jpg 1024w, ./img/banner-512.jpg 512w"
      sizes="(max-width: 600px) 512px, 1024px"
    />
  </div>
  <article>
    <h2>Cadmus LON</h2>
    <p>
      Welcome to the LON (<em
        >Letters on the net: Eugenio Montale's correspondence (1915-1981). Study
        and database</em
      >) project data editor. Access to this site is restricted to authorised
      users.
    </p>
  </article>
</div>
